body{
    font-family: monospace;
    background-color: #111;
    color: #eee;
    margin: 0;
}
canvas{
    display: block;
    margin: 4px 0;
}
label{
    display: block;
    margin-bottom: 5px;
}
#gui{
    position: absolute;
    top: 10px;
    left: 10px;
}